.additive-item>ion-grid>ion-row>ion-col:first-child {
    display: flex;
    align-self: stretch;
    justify-content: center;
}
.additive-item>ion-grid>ion-row>ion-col:first-child>ion-text {
    align-self: center;
}