<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="8" class="ion-text-center">
        <!-- <ion-card class="ion-padding"> -->
          <ion-label size="lg" max-length="3"></ion-label>
          <ion-input 
            [(ngModel)]="searchInputValue" 
            pattern=".{3,5}"
            label="E" 
            placeholder="133" 
            fill="outline" 
            class="ion-margin-bottom ion-text-left"
          ></ion-input>
          <ion-button mode="ios" shape="round" (click)="navigateToSearch(searchInputValue)">
            <ion-text>Rechercher</ion-text>
            <ion-icon slot="end" name="search" size="small"></ion-icon>
          </ion-button>
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>